<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/x-icon" th:href="@{/img/logo-blue.png}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<title>玻璃幕墙模态检测</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:fragment="header">
			<div class="container">
				<!-- 导航 -->
				<nav class="navbar navbar-expand-lg navbar-dark">
					<!-- logo -->
					<a class="navbar-brand" th:href="@{/index}"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- 功能 -->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" th:href="@{/index}">首页</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser!=null}">
								<a class="nav-link" th:href="@{/glass}">数据库管理</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
								<a class="nav-link" th:href="@{/login}">管理员登录</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loginUser!=null}">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img th:src="${loginUser.headerUrl}" class="rounded-circle" style="width:30px;"/>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	<!--								<a class="dropdown-item text-center" href="#">账号设置</a>-->
									<a class="dropdown-item text-center" th:href="@{/logout}">退出登录</a>
									<div class="dropdown-divider"></div>
									<span class="dropdown-item text-center text-secondary" th:utext="${loginUser.username}">hitsz</span>
								</div>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3">
				<h3 class="text-center text-info border-bottom pb-3">玻璃幕墙模态检测</h3>
				<form class="mt-5" method="post" th:action="@{/index}">
					<div class="form-group row">
						<label for="width" class="col-sm-2 col-form-label text-right">宽度:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="width" th:value="${glass!=null?glass.width:''}"
								   name="width" placeholder="请输入玻璃宽度(mm)" required>
							<div class="invalid-feedback">
								该账号已存在!
							</div>
						</div>
					</div>
					<div class="form-group row mt-4">
						<label for="height" class="col-sm-2 col-form-label text-right">高度:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="height" th:value="${glass!=null?glass.height:''}"
								   name="height" placeholder="请输入玻璃高度(mm)" required>
							<div class="invalid-feedback">
								密码长度不能小于8位!
							</div>
						</div>
					</div>
					<div class="form-group row mt-4">
						<label for="thick" class="col-sm-2 col-form-label text-right">厚度:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="thick" th:value="${glass!=null?glass.thick:''}"
								   name="thick" placeholder="请输入玻璃厚度(mm)" required>
							<div class="invalid-feedback">
								两次输入的密码不一致!
							</div>
						</div>
					</div>
					<div class="form-group row mt-4">
						<label for="frame" class="col-sm-2 col-form-label text-right">结构:</label>
						<div class="col-sm-10">
							<input type="radio" class="radio-box" id="frame" name="frame" value="0" required/>
							<i class="radio-text">&nbsp;&nbsp;&nbsp;隐框玻璃</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="radio" class="radio-box" name="frame" value="1" required/>
							<i class="radio-text">&nbsp;&nbsp;&nbsp;明框玻璃</i>
						</div>
					</div>
					<div class="form-group row mt-4">
						<label for="frequency" class="col-sm-2 col-form-label text-right">频率:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="frequency" th:value="${frequency!=null?frequency:''}"
								   name="frequency" placeholder="请输入玻璃频率(Hz)" required>
							<div class="invalid-feedback">
								两次输入的密码不一致!
							</div>
						</div>
					</div>
					<div class="form-group row mt-4">
						<div class="col-sm-2"></div>
						<div class="col-sm-10 text-center">
							<button type="submit" class="btn btn-info text-white form-control">立即评估</button>
						</div>
					</div>
				</form>
			</div>


			<div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3">
				<h3 class="text-center text-info border-bottom pb-3">评估结果</h3>
				<form class="mt-5">
					<div class="form-group row">
						<label for="upper" class="col-sm-2 col-form-label text-right">频率上限:</label>
						<div class="col-sm-10">
							<span id="upper" class="form-control" th:text="${glass!=null?glass.upper:''}"></span>
						</div>
					</div>
					<div class="form-group row">
						<label for="highThreshold" class="col-sm-2 col-form-label text-right">临界频率A:</label>
						<div class="col-sm-10">
							<span id="highThreshold" class="form-control" th:text="${glass!=null?glass.highThreshold:''}"></span>
						</div>
					</div>
					<div class="form-group row">
						<label for="lowThreshold" class="col-sm-2 col-form-label text-right">临界频率B:</label>
						<div class="col-sm-10">
							<span id="lowThreshold" class="form-control" th:text="${glass!=null?glass.lowThreshold:''}"></span>
						</div>
					</div>
					<div class="form-group row">
						<label for="lower" class="col-sm-2 col-form-label text-right">频率下限:</label>
						<div class="col-sm-10">
							<span id="lower" class="form-control" th:text="${glass!=null?glass.lower:''}"></span>
						</div>
					</div>
					<div class="form-group row" th:if="${evaluation!=null}">
						<h5 class="text-success" >评估结论</h5>
						<span th:if="${evaluation=='A'}">
							您输入的玻璃频率为：<i th:text="${frequency}"></i>(Hz)，经过玻璃幕墙模态安全数据库的评估，
							该玻璃的实际频率大于模板库该尺寸的玻璃频率上限：<i th:text="${glass.upper}"></i>(Hz)，
							因此评估等级为:<b class="text-success">非常安全</b>
						</span>
						<span th:if="${evaluation=='B'}">
							您输入的玻璃频率为：<i th:text="${frequency}"></i>(Hz)，经过玻璃幕墙模态安全数据库的评估，
							该玻璃的实际频率大于模板库该尺寸的玻璃临界频率A：<i th:text="${glass.highThreshold}"></i>(Hz)，
							同时小于模板库该尺寸的玻璃频率上限：<i th:text="${glass.upper}"></i>(Hz)，
							因此评估等级为:<b class="text-success">安全可靠</b>
						</span>
						<span th:if="${evaluation=='C'}">
							您输入的玻璃频率为：<i th:text="${frequency}"></i>(Hz)，经过玻璃幕墙模态安全数据库的评估，
							该玻璃的实际频率大于模板库该尺寸的玻璃临界频率B：<i th:text="${glass.lowThreshold}"></i>(Hz)，
							同时小于模板库该尺寸的玻璃临界频率A：<i th:text="${glass.highThreshold}"></i>(Hz)，
							因此评估等级为:<b class="text-success">使用正常!</b>
						</span>
						<span th:if="${evaluation=='D'}">
							您输入的玻璃频率为：<i th:text="${frequency}"></i>(Hz)，经过玻璃幕墙模态安全数据库的评估，
							该玻璃的实际频率大于模板库该尺寸的玻璃频率下限：<i th:text="${glass.lower}"></i>(Hz)，
							同时小于模板库该尺寸的玻璃临界频率B：<i th:text="${glass.lowThreshold}"></i>(Hz)，
							因此评估等级为:<b class="text-warning">需要维修加固!!</b>
						</span>
						<span th:if="${evaluation=='E'}">
							您输入的玻璃频率为：<i th:text="${frequency}"></i>(Hz)，经过玻璃幕墙模态安全数据库的评估，
							该玻璃的实际频率小于模板库该尺寸的玻璃频率下限，<i th:text="${glass.lower}"></i>(Hz)，
							因此评估等级为:<em>不能使用!!!</em>
						</span>
					</div>
				</form>
			</div>

			<div class="container mt-3">
				<!-- 回帖数量 -->
				<div class="row">
					<div class="col-8">
						<h6><b class="square"></b> 注释</h6>
					</div>
					<p>&nbsp;&nbsp;&nbsp;频率上限：该尺寸之下玻璃四端固支所对应的一阶固有频率<br/>
						&nbsp;&nbsp;&nbsp;频率下限：该尺寸之下玻璃四端简支所对应的一阶固有频率<br/>
						&nbsp;&nbsp;&nbsp;临界频率A：该尺寸之下玻璃频率下限的1.3倍<br/>
						&nbsp;&nbsp;&nbsp;临界频率B：该尺寸之下玻璃频率下限的1.2倍<br/>
					</p>
				</div>
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:fragment="footer">
			<div class="container">
				<div class="row">
					<!-- 二维码 -->
					<div class="col-4 qrcode">
<!--						<img src="https://uploadfiles.nowcoder.com/app/app_download.png" class="img-thumbnail" style="width:136px;" />-->
						<img th:src="@{/img/QRcode.jpg}" class="img-thumbnail" style="width:136px;" />
					</div>
					<!-- 公司信息 -->
					<div class="col-8 detail-info">
						<div class="row">
							<div class="col">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link text-light" href="#">关于我们</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">加入我们</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">意见反馈</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">企业服务</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">联系我们</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">免责声明</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">友情链接</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<ul class="nav btn-group-vertical company-info">
									<li class="nav-item text-white-50">
										地址：深圳市南山区桃源街道深圳大学城哈尔滨工业大学校区
									</li>
									<li class="nav-item text-white-50">
										联系方式：0755-26031234(电话)&nbsp;&nbsp;&nbsp;&nbsp;19S054005@stu.hit.edu.cn
									</li>
									<li class="nav-item text-white-50">
										土木与环境工程学院©2021 All rights reserved
									</li>
									<li class="nav-item text-white-50">
										京ICP备14055007号-4 &nbsp;&nbsp;&nbsp;&nbsp;
										<img src="http://static.nowcoder.com/company/images/res/ghs.png" style="width:18px;" />
										京公网安备 11010502036487号
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/register.js}"></script>
	<script th:src="@{/js/letter.js}"></script>
</body>
</html>
